/* ul.list : 불릿기호 없애기, margin, padding 0, 아랫쪽 테두리만 : 1px solid #ccc */
/* .tab-button : 안쪽여백 : 위아래 10, 왼오 20, 옆으로 배치, 글자색 gray, cursor은 손모양*/
*{
    box-sizing: border-box;
}

ul.list{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin: 0;
    padding: 0;
}

.tab-button{
    padding: 10px 20px;
    color: gray;
    cursor: pointer;
    margin-right: -1px;
    margin-bottom: -1px;
}

.orange{
    border-top: 2px solid orange;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid white;
    border-left: 2px solid #ccc;
    color: black;
    margin-top: -2px;
}

.tab-content{
    display : none;
}

.show{
    display: block;
}